.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.inputDisplay {
  display: flex;
  flex-direction: column;

}

.inputDisplay input {
  width: 400px;
  font-size: 20px;
}

.inputDisplay button {
  width: 400px;
  height: 20px;
  margin-top: 20px;
}
.inputDisplay button:hover{
  cursor: pointer
}

.users{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: aquamarine;
}